html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

video {
  display: none;
}

.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #999;
  border: 1px solid red;
}
